

#head
{

}

#start
{
    width: 50%;
    margin: 0 auto; 
    margin-top: 50 px;
}

#login
{
  
}

#menu
{

}

#logout_session
{

}

#sess_button_div
{
    
  text-align:center;
}

#session_name
{
  width: 50%;
  margin: 0 auto;
}
#logout_sess
{
  
}